[08.10.2026 18:52:54] INFO Сервер запущен: http://localhost:3480
[08.10.2026 18:53:03] WARN Расчёт материалов: некорректные данные {"productTypeId":"1","materialTypeId":"1","quantity":"100","param1":"1,2","param2":"-1"}
[08.10.2026 18:53:11] INFO Сервер запущен: http://localhost:3481
